name: Matrix Demo
on: push
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        node-version: [22, 23, 24]
        operation-system: [ubuntu-latest, windows-latest]
        include:
          - operating-system: ubuntu-latest
            node-version: 21
        exclude:
          - operating-system: ubuntu-latest
            node-cersion: 23
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm ci
      - name: Build project
        run: npm run build
