name: Reusable Workflow
on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the deployable artifact files
        required: false
        default: dist
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/download-arfifact@v6
        with:
          name: ${{ inputs.artifact-name }}
      - name:
        run: ls -lah
      - name: Output information
        run: echo "Deploying $ uploading..."
